<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="#" th:action="@{/update/{id}(id=${user.id})}" th:object="${user}" method="post"> 
		<label for="name">Name</label> 
		<input type="text" th:field="*{name}" id="name"> 
		<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span> 
		<br /> 
		<label for="email">Email</label> 
		<input type="text" th:field="*{email}" id="email"> 
		<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span> 
		<br /> 
		<input type="submit" value="Update User"> 
	</form>
</body>
</html>